<.header>
  Listing Storage types
  <:actions>
    <.link href={~p"/storage_types/new"}>
      <.button>New Storage type</.button>
    </.link>
  </:actions>
</.header>

<.table id="storage_types" rows={@storage_types} row_click={&JS.navigate(~p"/storage_types/#{&1}")}>
  <:col :let={storage_type} label="Id"><%= storage_type.id %></:col>
  <:col :let={storage_type} label="Name"><%= storage_type.name %></:col>
  <:action :let={storage_type}>
    <div class="sr-only">
      <.link navigate={~p"/storage_types/#{storage_type}"}>Show</.link>
    </div>
    <.link navigate={~p"/storage_types/#{storage_type}/edit"}>Edit</.link>
  </:action>
  <:action :let={storage_type}>
    <.link href={~p"/storage_types/#{storage_type}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
