<.header>
  New Storage type
  <:subtitle>Use this form to manage storage_type records in your database.</:subtitle>
</.header>

<.storage_type_form changeset={@changeset} action={~p"/storage_types"} />

<.back navigate={~p"/storage_types"}>Back to storage_types</.back>
