<.header>
  Listing Test features
  <:actions>
    <.link href={~p"/test_features/new"}>
      <.button>New Test feature</.button>
    </.link>
  </:actions>
</.header>

<.table id="test_features" rows={@test_features} row_click={&JS.navigate(~p"/test_features/#{&1}")}>
  <:col :let={test_feature} label="Name"><%= test_feature.name %></:col>
  <:action :let={test_feature}>
    <div class="sr-only">
      <.link navigate={~p"/test_features/#{test_feature}"}>Show</.link>
    </div>
    <.link navigate={~p"/test_features/#{test_feature}/edit"}>Edit</.link>
  </:action>
  <:action :let={test_feature}>
    <.link href={~p"/test_features/#{test_feature}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
