<div class="flex h-screen ">
  <!-- Sidebar -->
  <aside class="w-64 bg-white shadow-lg">
    <div class="p-4">
      <h2 class="text-lg font-semibold mb-4">Sidebar</h2>
      <ul>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 hover:bg-gray-200 rounded">Link 1</a>
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 hover:bg-gray-200 rounded">Link 2</a>
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 hover:bg-gray-200 rounded">Link 3</a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- Main Content -->
  <main class="flex-1 p-6">
    <h1 class="text-3xl font-bold mb-6">Main Content for show</h1>
    <p class="text-gray-700">This is the main content area. You can add your content here.</p>

    <.live_component
      module={LearnPhoenixWeb.ListStorageTypes}
      id="storage-type-list"
      storage_types={@storage_types}
    />
  </main>
</div>
